<html>
<head>
    <title>Characters - <%= result[0].Character_Name %></title>
</head>
<body>
<h1>Characters</h1>
<ul>
    <li>Character ID: <%= result[0].Character_id%></li>
    <li>Character Name: <%= result[0].Character_Name %></li>
    <li>Character Type: <%= result[0].Character_Type %></li>
</ul>
</body>

</html>