<html>
<head>
    <title>Add New Character</title>
</head>
<body>
<h1>Add New Character</h1>
<form action="/Character/insert" method="get">
    Character Name: <input id="Character_Name" name="Character_Name" type="text" />
    <br />
    <br />
    Character Type:
    <select name="Character_Type" name="Character_Type">
        <option value="Offence">Offence</option>
        <option value="Defence">Defence</option>
        <option value="Tank">Tank</option>
        <option value="Tank">Tank</option>
    </select>
    <br />
    <br />
    <input type="submit" />

</form>
</body>

</html>