<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/Account/insert" method="get">
    Account Email: <input id="AccountEmail" name="AccountEmail" type="text" />
    <br />
    <br />
    Account Name: <input id="AccountName" name="AccountName" type="text" />
    <br />
    <br />
    First Name: <input id="FName" name="FName" type="text" />
    <br />
    <br />
    Last Name: <input id="LName" name="LName" type="text" />
    <br />
    <br />
    Password: <input id="Password" name="Password" type="text" />
    <br />
    <br />
    <input type="submit" />

</form>
</body>

</html>