<html>
<head>
    <title>Accounts - <%= result[0].AccountName %></title>
</head>
<body>
<h1>Accounts</h1>
<ul>
    <li>Account ID: <%= result[0].Account_id%></li>
    <li>Account Email: <%= result[0].AccountEmail %></li>
    <li>Account Name: <%= result[0].AccountName %></li>
</ul>
</body>

</html>