<html>
<head>
    <title>Add New Most Played Character and Role</title>
</head>
<body>
<h1>Add New Most Played Character and Role</h1>
<form action="/AccountCharacter/insert" method="get">
    Account Email: <input id="AccountEmail" name="AccountEmail" type="text" />
    <br />
    <br />
    Most Played Character Name: <input id="Most_Played_Charater" name="Most_Played_Character" type="text" />
    <br />
    <br />
    Most Played Character Type:
    <select name="Character_Type" name="Character_Type">
        <option value="Offence">Offence</option>
        <option value="Defence">Defence</option>
        <option value="Tank">Tank</option>
        <option value="Support">Support</option>
    </select>
    <br />
    <br />
    <input type="submit" />

</form>
</body>

</html>