<html>
<head>
    <title>AccountCharacters - <%= result[0].AccountEmail %></title>
</head>
<body>
<h1>Account Character Stats</h1>
<ul>
    <li>Account Email: <%= result[0].AccountEmail %></li>
    <li>Most Played Character: <%= result[0].Most_Played_Character %></li>
    <li>Most Played Character Type: <%= result[0].Most_Played_Type %></li>
</ul>
</body>

</html>