<% include headfoot/header.ejs%>

<!DOCTYPE html>
<html>
<head>
  <title> OverWatch </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<br />

</body>
</html>

<% include headfoot/footer.ejs%>