<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to OverWatch<%= title %></p>

<a href="/skill/all">Skills - View All</a> <br />
<a href="/OWCharacter/all">Characters - View All</a> <br />
<a href="/Maps/all">Maps - View All</a> <br />
<a href="/Account/all">Accounts - View All</a> <br />
<br />

</body>
</html>
