<html>
<head>
    <title>Add New Skill</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/Skill/insert" method="get">
    Account Email: <input id="AccountEmail" name="AccountEmail" type="text" />
    <br />
    <br />
    Current Skill Rating: <input id="Cur_Skill_Rating" name="Cur_Skill_Rating" type="number" />
    <br />
    <br />
    Past Skill Rating: <input id="Past_Skill_Rating" name="Past_Skill_Rating" type="number" />
    <br />
    <br />
    <!--Win Loss Ratio: <input id="Win_Loss_Ratio" name="Win_Loss_Ratio" type="number" />
    <br />
    <br />-->
    <input type="submit" />

</form>
</body>

</html>