<% include ../headfoot/header.ejs%>


<html>
<head>
    <title> About Page </title>
</head>
<body>
<h1> The Purpose of this Website </h1><br />
<br />
I created this website to show the stats for other players, show in depth info of the game such as what maps and characters exist. I also Like the idea of making up characters or maps
so people can input their own ideas if they wanted to as well.<br />
<br /> The company that created OverWatch is called Blizzard. Blizzard has access to any OverWatch account, and can see the stats of any of the accounts. <br />
<br />
Contact Info: fake@whyareyoureadingthis.net <br />
<br /><br />
<img src="http://imgur.com/SFmlvEg" alt='ER Diagram'><br />
<img src="http://imgur.com/B0PXaSv" alt="Relational Schema">
</body>

</html>

<% include ../headfoot/footer.ejs%>
