<html>
<head>
    <title>Add New Map</title>
</head>
<body>
<h1>Add New Map</h1>
<form action="/Maps/insert" method="get">
    Map Name: <input id="Map_Name" name="Map_Name" type="text" />
    <br />
    <br />
    Map Type: <input id="Map_Type" name="Map_Type" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>