<html>
<head>
    <title>Add New Map</title>
</head>
<body>
<h1>Add New Map</h1>
<form action="/Maps/insert" method="get">
    Map Name: <input id="Map_Name" name="Map_Name" type="text" />
    <br />
    <br />

    Map Type:
    <select name="Map_Type" name="Map_Type">
        <option value="Assult">Assult</option>
        <option value="Escort">Escort</option>
        <option value="Control">Control</option>
        <option value="Hybrid">Hybrid</option>
    </select>
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>