<html>
<head>
    <title>Maps - <%= result[0].Map_name %></title>
</head>
<body>
<h1>Maps</h1>
<ul>
    <li>Map ID: <%= result[0].Map_id%></li>
    <li>Map Name: <%= result[0].Map_Name %></li>
    <li>Map Type: <%= result[0].Map_Type %></li>

</ul>
</body>

</html>